# Speechmatics SDKs
speechmatics-batch>=0.4.8
speechmatics-rt>=1.0.0

# Utilities
python-dotenv>=1.2.2
typing_extensions>=4.15.0

# Audio input (for microphone support in real-time example)
pyaudio>=0.2.14
