# Speechmatics SDKs
speechmatics-batch>=0.5.0
speechmatics-rt>=1.1.0

# Utilities
python-dotenv>=1.2.2
typing_extensions>=4.16.0

# Audio input (for microphone support in real-time example)
pyaudio>=0.2.14
